@using TestPort.Controllers
@using TestPort.Logical

@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js"></script>

    <h1 class="display-4">Спасибо что пользуетесь Портсигар!</h1>
    <p>До сигареты всего каких-то:</p>
    <b class="timer"></b>

    <p><button class="button button1" style="display: none;" id="drop" onclick="drop();">Забрать</button></p>
</div>


<script type="text/javascript">
    $.ajax({
        type: 'GET',
        url: 'Flex/WifiIsReady',
        data: 0,
        success: function (data) {
            if (data == 0) {
                var name = prompt("Это ваш первый запуск! Спасибо, что пользуетесь портсигар. Введите пожалуйста имя сети wifi");
                var pas = prompt("Отлично, а теперь пороль");
                var isYes = confirm("Итак, вы хотите бросить курить?");

                $.ajax({
                    type: 'POST',
                    url: 'Flex/RefreshWifi',
                    data: name + "#" + pas,

                    success: function (data) {
                        if (data == 0)
                            alert("Неверные данные");
                    },
                    error: function () {
                        alert("Произошел сбой");
                    }
                });
            }
        },
        error: function () {
            alert("Произошел сбой");
        }
    });
    
    $.ajax({
        type: 'GET',
        url: 'Flex/IsFirstStart',
        data: 0,
        success: function (data) {
            if (data == 1) {
                var cout = prompt("Вот и хорошо, преступим. Введите кол-во выкуриваемых в день сигарет");
                $.ajax({
                    type: 'POST',
                    url: 'Flex/RefreshSigar',
                    data: cout,
                    success: function (data) {
                        if (data == 1)
                            alert("Всё хорошо, приятного пользования");
                        else {
                            alert("Некорректное число");
                        }
                    },
                    error: function () {
                        alert("Произошел сбой");
                    }
                });
            }
        },
        error: function () {
            alert("Произошел сбой");
        }
    });

    var oHide = document.querySelector(".buttonHide");
    var next;

    $.ajax({
        type: 'GET',
        url: 'Flex/GetNextNum',
        i: 0,
        success: function (i) {
            next = i;
        },
        error: function () {
            alert("Произошел сбой");
        }
    });

    function timerStart()
    {
        if (next == 0)
        {
            $('.timer').html("Сейчас");
            document.getElementById("drop").style.display = 'inline';
            end();
        }
        else{
            $('.timer').html(next + " секунд");
        }
        next--;
    }

    $(function(){
        setInterval("timerStart()", 1000);
    });

    function drop()
    {
        $.ajax({
            type: 'GET',
            url: 'Flex/IsOpen',
            i: 0,
            success: function (i) {
                if (i == 1) {
                    document.getElementById("drop").style.display = 'none';
                    alert('Заберите Сабж');
                    $.ajax({
                        type: 'GET',
                        url: 'Flex/GetSubj',
                        i: 0,
                        success: function (i) {
                            if (i == 1) {
                                $.ajax({
                                    type: 'GET',
                                    url: 'Flex/GetNextNum',
                                    i: 0,
                                    success: function (i) {
                                        next = i;
                                    },
                                    error: function () {
                                        alert("Произошел сбой");
                                    }
                                });
                            }
                        },
                        error: function () {
                            alert("Произошел сбой");
                        }
                    });
                } else {
                    alert('Хм, произошла неизвестная ошибка, странно');
                    document.getElementById("drop").style.display = 'none';
                    $.ajax({
                        type: 'GET',
                        url: 'Flex/GetNextNum',
                        i: 0,
                        success: function (i) {
                            next = i;
                        },
                        error: function () {
                            alert("Произошел сбой");
                        }
                    });
                }
            },
            error: function () {
                alert("Произошел сбой");
            }
        });

        
        end();
    }
</script>

